<html ng-app="app">
<head>
    <title>Flight Bookings</title>
    <style>
        [ng-click] {
            cursor: pointer;
        }
    </style>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://demos.amitavroy.com/learningci/assets/js/xml2json.js" charset="UTF-8"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3" type="text/javascript"></script>
    <script src="http://www.panoramio.com/wapi/wapi.js?v=1"></script>
    
    <script src="flights.js"></script>
</head>
<body>
    <div ng-controller="flightController" class="container">
        <div class="row">
            <div class="col-xs-6" >
                <h2>Search For a Flight</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <form role="form">
                    <div class="form-group">
                        <label class="pull-right">
                            <input type="checkbox" id="matchAllCriteria" ng-model="flightSearch.matchAllCriteria"><b> Match All Criteria</b>
                        </label><br/>
                        <label for="originCity">Departing:</label>
                        <input class="form-control" id="originCity" ng-model="flightSearch.originCity">
                        <label for="destinationCity">Destination City:</label>
                        <input class="form-control" id="destinationCity" ng-model="flightSearch.destinationCity">
                        <label for="airline">Airline:</label>
                        <input class="form-control" id="airline" ng-model="flightSearch.airline">
                        <label for="date">Date:</label>
                        <input class="form-control" id="date" type="date" ng-model="flightSearch.date">
                        <div class="checkbox">
                        <label>
                            <input type="checkbox" id="directFlight" ng-model="flightSearch.direct"><b>Direct Flight</b>
                        </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="searchFlights()">Search</button>
                    <button class="btn" ng-click="clearSearch()">Clear</button>
                </form>
            </div>
            <div class="pull-right">
                <div ng-show="bookingInProgress || amendBookingInProgress">
                    <h2 ng-show="bookingInProgress">Book a Flight</h2>
                    <h2 ng-show="amendBookingInProgress">Amend Booking</h2>
                    <form name="booking" role="form">
                        <div class="form-group">
                            <h4>Flight: {{bookingDetails.flightID}}</h4>
                            <h4 ng-show="amendBookingInProgress" >Booking ID: {{bookingDetails.bookingID}}</h4>
                        </div>
                        <div class="form-inline ">
                            <label>Passenger Name: </label>
                            <input class="form-control" ng-model="bookingDetails.name" required>
                        </div>
                        <div class="form-inline">
                            <label>Seats Required:</label>
                            <input type="number" min=1 class="form-control pull-right" ng-model="bookingDetails.numOfSeats" ng-change="seatChange()" required>
                        </div>
                        </br>
                        <div class="form-inline">
                            <label>Total Cost: {{bookingDetails.totalCost}}</label>
                        </div>
                        </br>
                        <div class="pull-right">
                            <button class="btn btn-primary" ng-click="makeBooking()" ng-disabled="booking.$invalid" ng-show="bookingInProgress">Book</button>
                            <button class="btn btn-primary" ng-click="makeBookingAmendment()" ng-disabled="booking.$invalid" ng-show="amendBookingInProgress">Amend Booking</button>
                            <button class="btn" ng-click="cancelBooking()">Cancel</button>
                        </div>
                    </form>
                    <div class="pull-right" ng-show="notEnoughSeats">
                            <label class="text-danger">There are not enough seats left for this flight.</label>
                    </div>
                </div>
                <div ng-show="viewingMap">
                    <div id="directions" style="width:300px;height:340px;float:right;overflow:auto;"></div>
                    <div id="map" style="width:450px;height:340px;"></div>
                </div>
                <div ng-show="viewingBookings"> 
                    <h2>Bookings</h2>
                    <h4>Flight: {{flight.flightID}}</h4>
                    <table id="bookings" class="table table-striped table-responsive" ng-show="hasBookings">
                        <thead>
                            <tr>
                                <th>Booking ID</th>
                                <th>Name</th>
                                <th>Seats</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="booking in bookingsForFlight">
                                <td>{{booking.bookingID}}</td>
                                <td>{{booking.name}}</td>
                                <td>{{booking.numOfSeats}}</td>
                                <td>
                                    <button class="btn " ng-click="amendBooking(booking)">Amend</button>
                                </td>
                                <td>
                                    <button class="btn " ng-click="cancel(booking)">Cancel</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                     <div class="pull-right" ng-show="noBookings">
                            <label class="text-info">There are no bookings for this flight.</label>
                    </div>
                </div>
                <div ng-show="viewingPics">
                    <div id="wapiblock"></div>
                </div>
            </div>
        </div>
        <div class="row">
                <table id="results" class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Flight Number</th>
                            <th>Origin City</th>
                            <th>Destination City</th>
                            <th>Date</th>
                            <th>Airline</th>
                            <th>Seats Available</th>
                            <th>Connections</th>
                            <th>Fare
                                <select ng-model="selectedCurrency" ng-init="selectedCurrency = 'GBP - British pound'" ng-options="currency for currency in currencies" ng-change="updateCurrency(selectedCurrency)">
                                </select>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="flight in flights" ng-click="bookFlight(flight)">
                            <td>{{flight.flightID}}</td>
                            <td>{{flight.originCity}}</td>
                            <td><a ng-click="showPics(flight.destinationCity); $event.stopPropagation();"> {{flight.destinationCity}}</a></td>
                            <td>{{flight.date}}</td>
                            <td>{{flight.airline}}</td>
                            <td>{{flight.availableSeats}}</td>
                            <td>{{flight.numberOfConnections}}</td>
                            <td>{{flight.value}}</td>
                            <td>
                                <button class="btn" ng-click="renderMap(flight); $event.stopPropagation();">Map</button>
                            </td>
                            <td>
                                <button class="btn" ng-click="viewAllBookings(flight); $event.stopPropagation();">View Bookings</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
</body>
</html>